body {
    background-image: linear-gradient(to bottom right, rgb(91, 53, 67), rgb(22, 47, 86));
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 610px;
    align-items: center;
}

p,
.send,
.reset {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

input {
    min-height: 20px;
    min-width: 300px;
    background-color: rgb(43, 42, 59);
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(31, 30, 44);
}

textarea {
    background-color: rgb(45, 43, 61);
    width: 300px;
    max-width: 300px;
    max-height: 250px;
    border-radius: 3px;
}

.reset,
.send {
    color: white;
    border-radius: 3px;
    margin-top: 10px;
}

input.reset,
input.send {
    min-height: 25px;
    min-width: 300px;
}